<!DOCTYPE html>
<html>
<head th:replace="common/header :: common-header" />
<body>
	<!-- Login Section -->
	<div class="row">
		<div class="imglogo">
			<img class="img-responsive imglogo" src="/images/logo_bright.png"
				alt="banner" />
		</div>
	</div>
	<div class="container">
		<div class="row ">
			<div class="main-center ">
				<div class="alert alert-danger fade in" th:if="${param.error}">Invalid
					username and secret.</div>
				<div class="alert alert-danger fade in" th:if="${param.logout}">You
					have been logged out.</div>
				<form class="form-signin" th:action="@{/index}" method="post">
					<h3 class="form-signin-heading">Please sign in</h3>
					<p>Welcome to Cordial ERP Admin Portal.</p>
					<div class="form-group">
						<label for="username" class="sr-only">Username</label> <input
							type="text" roleId="username" class="form-control"
							placeholder="Username" name="username" id="username"
							required="required" autofocus="autofocus" />
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label> <input
							type="password" roleId="inputPassword" class="form-control"
							placeholder="Password" id="password" name="password"
							required="required" />
					</div>
					<div class="form-group">
						<input type="checkbox" name="remember-me" id="remember-me" />
						&nbsp; Remember me
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
						in</button>
				</form>

				<hr />

				<div class="form-group ">
					<a type="submit" class="btn btn-info btn-lg btn-block login-button"
						th:href="@{/signup}">Sign up!</a>
				</div>
				<hr />
				<p style="font-size: 1 em; color: #aab;" align="center">&copy; Cordial Group of Co. 2017</p>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>